<h1>Cars</h1>
{{#if user}}
<a href="/cars/create" title="Create Cars" />Create Cars</a>
{{/if}}

<table class="table table-striped table-hover">
    <thead>
        <th>Company</th>
        <th>Car</th>
        <th>Year</th>
        <th>Email</th>
        {{#if user}}
        <th>Actions</th>
        {{/if}}

    </thead>
    <tbody>
        {{#each cars}}
        <tr>
            <td>{{this.company}}</td>
            <td>{{this.name}}</td>
            <td>{{this.year}}</td>
            <td>{{#if this.contactEmail}}
                <a href="mailto::{{this.contactEmail}}" title="owner email">{{this.contactEmail}}</a>
                {{/if}}
            </td>
            {{#if ../user}}
            <td>


                <a href="/cars/edit/{{this.id}}"> <i class="fa-solid fa-pen-to-square"></i></a>

                <a href="/cars/delete/{{this.id}}" onclick="return confirmDelete()"><i
                        class="fa-solid fa-trash"></i></a>



            </td>
            {{/if}}
        </tr>


        {{/each}}
    </tbody>




</table>